<nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link fw-bold py-1 px-0 {% if current_page == 'sākums' %}active{% endif %}" href="/">Sākums</a>
    <a class="nav-link fw-bold py-1 px-0 {% if current_page == 'par_mums' %}active{% endif %}" href="/par_mums">Par mums</a>
    <a class="nav-link fw-bold py-1 px-0 {% if current_page == 'vērtē' %}active{% endif %}" href="/vērtē">Vērtē</a>
    <a class="nav-link fw-bold py-1 px-0 {% if current_page == 'salīdzini' %}active{% endif %}" href="/salīdzini">Salīdzini</a>
    <a class="nav-link fw-bold py-1 px-0 {% if current_page == 'pārskats' %}active{% endif %}" href="/pārskats">Pārskats</a>
</nav>