{% extends "_base.html" %}

{% block title %}Par mums{% endblock %}

{% block content %}
    <h1>Par mums</h1>
    <p class="lead">Laipni lūdzam mūsu filmu vērtēšanas vietnē!</p>

        
    <p>Ko mēs piedāvājām:</p> 
        <ul>
            <li><strong>Lietotāju vērtējumi:</strong> iespēja izlikt savus vērtējumus par jebkuru filmu.</li>
            <li><strong>Kritiķu vērtējumi:</strong> tika apkopoti un parādIti profesionālo kritiķu vērtējumi no dažādiem avotiem, lai jūs varētu redzēt, kā profesionāļi novērtē tās pašas filmas.</li>
            <li><strong>Salīdzinājums:</strong> Unikāla iespēja salīdzināt savu vērtējumu ar kritiķu, redzēt, cik lielā mērā sakrīt jūsu, krītiķu un lietotāju vidējais vērtējums sakrīt vai atšķiras </li>
        </ul>
        <p>Seko mani sociālos tīkļos, lai zinātu par visiem maniem nākotnes projektiem:</p>
        <a href="https://www.instagram.com/matjchekni/">Instagram</a>
        <a href="https://www.tiktok.com/@matjchekni">TikTok</a>

        <p>Piedāvāt savas idejas, palīdzību un atbalstu kopienas attīstībai un paplašināšanai var:</p>
        <strong>E-pastā:</strong>beatahascenko999@gmail.com vai hascenbeate@inbox.lv
        <strong>Pa tālruni:</strong>+37123372336
    </p>
    </p>
{% endblock %}