{% extends "_base.html" %}

{% block title %}Par mums{% endblock %}

{% block content %}
    <h1>Par mums</h1>
    <p class="lead"><p>Laipni lūdzu manā filmu vērtēšanas vietnē!</p>

        <p>Ko es piedāvāju:</p>
        <ul>
            <li><strong>Lietotāju vērtējumi:</strong> iespēja izlikt savus vērtējumus par jebkuru filmu.</li>
            <li><strong>Kritiķu vērtējumi:</strong> tika apkopoti un parādIti profesionālo kritiķu vērtējumi no dažādiem avotiem, lai jūs varētu redzēt, kā profesionāļi novērtē tās pašas filmas.</li>
            <li><strong>Salīdzinājums:</strong> Unikāla iespēja salīdzināt savu vērtējumu ar kritiķu, redzēt, cik lielā mērā sakrīt jūsu, krītiķu un lietotāju vidējais vērtējums sakrīt vai atšķiras </li>
        </ul>
        <p>Kā piedalīties un kļūt par topošās kopienas locēkļi:</p>
        <ol>
            <li>Izdomājiet lietotāja vārdu, lai sāktu pievienot savus vērtējumus.</li>
            <li>Izvēlieties filmu un vērtējiet to 100 ballu skalā.</li>
            <li>Apskatiet, kā jūsu viedoklis salīdzinās ar citu lietotāju un kritiķu vērtējumiem.</li>
            <li>Pievienojieties mūsu projektam un topošajai kopienai, palīdzējot veidot vietu, kur katrs viedoklis ir svarīgs! Kas zin, varbūt, tieši tu varēsi atrast šeit savu aicinājumu kļūt par kinokritiķī!</li>
        </ol> 
        <p>Seko mani sociālos tīkļos, lai zinātu par visiem maniem nākotnes projektiem:</p>
        <ul>
            <li>a href="https://www.instagram.com/matjchekni/">Instagram</a></li>
            <li>a href="https://www.tiktok.com/@matjchekni">TikTok</li>
        </ul>
        <p>Piedāvāt savas idejas, palīdzību un atbalstu kopienas attīstībai un paplašināšanai var:</p>
        <ul>
            <li><strong>E-pastā:</strong>beatahascenko999@gmail.com vai hascenbeate@inbox.lv</li>
            <li><strong>Pa tālruni:</strong>+37123372336</li>
        </ul>
    </p>
    </p>
{% endblock %}