{% extends "_base.html" %}

{% block title %}Salīdzini{% endblock %}

{% block content %}

    <h1>Salīdzini</h1>
    {% if data|length == 1 %}
        <p class="important">
            Jūsu vērtējums salīdzinājumā ar kritiķu vērtējumu:
        </p>
    {% else %}
        <p class="important">
            Pēdējie 10 mūsu lietotāju vērtējumi salīdzinājumā ar kritiķu vērtējumiem:
        </p>
    {% endif %}

    <table>
        <tr>
            <th>Laiks</th>
            <th>Lietotājs</th>
            <th>Filma</th>
            <th>Lietotāja vērtējums</th>
            <th>Kritiķu vērtējums</th>
        </tr>
        {% for movie in data %}
        <tr>
            {% for value in movie %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}